<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title> {{document_title}}</title>
    <link rel="stylesheet" type="text/css" href="/public/site.css">

    
    <script src="/public/script.js"  type="text/javascript"> </script>

</head>

<body>
  <header>
    <h1> {{document_title}}</h1>
  </header>

    {{{body}}}
  <footer id = "footer">
    
    <p>Name: Janki Patel</p>
    <p>Student ID: 10457365</p>
    <p>Contact information: <a href="mailto:someone@example.com">
        someone@example.com</a>.</p>
    
  </footer>

</body>

</html>