<main class="home">
  <br />

  <form id="box"   method="post" name="myform">
    <label id="pali_info" class="palindrome_info" for="palindrome">Please Enter Any Pharse</label><br /><br />

    <textarea rows="2" cols="50" name="phrase" id="palindrome" class="palindrome_input"></textarea><br /><br/>
    
    <input type="button" value="Check" class="bottom_space" onclick="return validatePalindrome()">
  </form>

  <br />

  <div id="attempts">
    <h4>
      Attempts List
    </h4>
    <ol id="list">

    </ol>
  </div>
</main>



